body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000; /* Mengatur latar belakang default ke hitam */
    height: 100vh;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    z-index: 10;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"] {
    margin: 10px 0;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}
