/* Gaya untuk Garis Tiga */
.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 200;  /* Pastikan z-index cukup tinggi */
}

.line {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
}

/* Tambahan gaya untuk Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 200px;
    height: 100%;
    display: none;
    padding: 20px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
