body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Agar latar belakang di belakang konten */
}

h1 {
    color: white;
    position: relative;
    z-index: 1; /* Agar teks tetap terlihat di atas latar belakang */
    text-align: center;
}
